<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="/student/{{ student_id }}/update" method="POST" id="update-student-form">
        <div>
            <label>Roll Number:</label>
            <input type="text" name="roll" value={{data.roll_number}} disabled />
        </div>

        <div>
            <label>First Name:</label>
            <input type="text" name="f_name" value={{data.first_name}} required />
        </div>

        <div>
            <label>Last Name:</label>
            <input type="text" name="l_name" value={{data.last_name}}/>
        </div>

        <div>
            <label for="courses">Select Course: </label>
            <select name="course" id="course">
                <option value="course_1_id">course_1_name</option>
                <option value="course_2_id">course_2_name</option>
                <option value="course_n_id">course_n_name</option>
            </select>
        </div>

        <div>
            <input type="submit" value = "Submit">
        </div>

    </form>


</body>
</html>